@import "./themes.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-primary);

  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-family: inherit;
}